@value purplegray, dullwhite, dullorange, black-20, white-50, white-75 from '../../_shared/colors.css';

.header {
  padding-top: 1em;
  background-color: purplegray;
  color: dullwhite;
}

.row {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
}

.row1 {
  composes: row;
  justify-content: flex-end;
}

.row2 {
  composes: row;
  line-height: 3rem; /* fraction of logo, to squash height */
  align-items: center;
}

.row3 {
  composes: row;
  justify-content: flex-end;
}

.row4 {
  composes: row;
  background-color: black-20;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.infolink {
  composes: link;
  color: white-50;
}

.infolink:hover {
  color: white-75;
}

.logo {
  font-size: 3.375rem;
  font-style: italic;
  margin-left: 1rem;
  color: dullwhite;
  text-decoration: none;
}

.logo em {
  color: dullorange;
}

.tagline {
  margin-left: 3.75rem;
  color: white-50;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
}
