@value dullwhite, purplegray-B62, purplegray-B77, dullorange from '../../_shared/colors.css';

.navlink {
  composes: link from './header.css';
  font-size: 1.125rem;
  padding: .3em .5em;
  margin-right: .25em;
  background-color: purplegray-B62;
  color: beige;
}

.navlink:hover,
.navlink.selected {
  background-color: purplegray-B77;
  color: white;
}

.navlink.selected {
  border-top: solid .15em dullorange;
}
