@value purplegray, purplegray-B77, black-20 from '../_shared/colors.css';

.filterbar {
  padding: .6em .3em .2em .3em;
  border-bottom: 2px solid black-20;
}

.filterbar button {
  background-color: transparent;
  color: purplegray;
  border: none;
}

.filterbar button:hover {
  color: purplegray-B77;
}

.filterbar button:focus {
  outline: 0; /* no glowing border on click */
}

.filterbar button.next {
  float: right;
}

.triangle {
  width: 0;
  height: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
}

.triangleleft {
  composes: triangle;
  border-right: 1em solid;
}

.triangleright {
  composes: triangle;
  border-left: 1em solid;
}

.filterbar button,
.filterbar select,
.filterbar input {
  font-size: 1.125rem;
}

.filtersection {
  display: inline-block;
  margin-left: 1.25em;
}