@value purplegray, dullwhite, white-75 from '../_shared/colors.css';

.filterbar {
  padding: .8em .3em .3em .3em;
  background-color: purplegray;
  border-bottom: 2px solid white;
}

button {
  background-color: transparent;
  color: white-75;
  border: none;
}

button:hover {
  color: white;
}

button:focus {
  outline: 0; /* no glowing border on click */
}

button.next {
  float: right;
}

.triangle {
  width: 0;
  height: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
}

.triangleleft {
  composes: triangle;
  border-right: 1em solid;
}

.triangleright {
  composes: triangle;
  border-left: 1em solid;
}

.filterbar button,
.filterbar select,
.filterbar input {
  font-size: 1.125rem;
}

.filtersection {
  display: inline-block;
  margin-left: 1.25em;
}