@value purplegray, dullwhite, dullorange, black-20, white-50, white-75 from '../_shared/colors.css';

.header {
  position: relative;
  height: 7.5rem;
  background-color: purplegray;
  color: dullwhite;
}

.row {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
}

.row1 {
  composes: row;
  height: 85%;
  justify-content: space-between;
  align-items: center;
}

.row2 {
  composes: row;
  height: 15%;
  background-color: black-20;
}

.logo {
  font-size: 3.375rem;
  font-style: italic;
  margin-left: 1rem;
}

.logo em {
  color: dullorange;
}

.tagline {
  margin-right: auto; /* overrides justify-content */
  margin-left: 3.75rem;
  color: white-50;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
}

.infobar {
  align-self: flex-start; /* overrides align center */
  margin-top: 1rem;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.infolink {
  composes: link;
  color: white-50;
}

.infolink:hover {
  color: white-75;
}

.searchbar {
  position: absolute;
  right: 1em;
  bottom: .65em;
  background-color: purplegray;
  border: solid 1px white-50;
  border-radius: 3px;
}
