@value purplegray, purplegray-B62, dullwhite from '../_shared/colors.css';

.overlay {
  background-color: rgba(0,0,0,0.6);
  height: 100vh;
  width: 100vw;
}

.overlay form {
  padding: 2rem 0;
  width: 30rem;
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  background-color: dullwhite;
  border-radius: 8px;
}

.overlay form input,
.overlay form button {
  font-size: 1.25rem;
  display: block;
  width: 80%;
  padding: .4em;
  margin: 0 auto .5em auto;
  border-radius: 5px;
}

.overlay form .forgot {
  display: block;
  font-size: 1.25rem;
  text-align: right;
  margin-bottom: 2em;
  margin-right: 10%;
}

.overlay form button {
  background-color: purplegray;
  color: dullwhite;
  text-transform: uppercase;
}

.overlay form button:hover {
  background-color: purplegray-B62;
  color: white;
}
