@value beige, highlight from '../_shared/colors.css';

.navlink {
  composes: link from './header.css';
  font-size: 1.125rem;
  padding: .3em .5em;
  margin-right: .25em;
  background-color: #2f74a3;
  color: beige;
}

.navlink:hover,
.navlink:focus {
  background-color: #3e82b2;
  color: white;
}

.navlink:focus {
  border-top: solid .2125em highlight;
}
