@value dullwhite, purplegray-B62, white-50 from '../_shared/colors.css';

.searchbar input[type='text'] {
  width: 15em;
  font-size: 1.2rem;
  margin-left: .5em;
  background-color: transparent;
  color: white-50;
  border: none;
}

.searchbar input[type='text']:focus {
  outline: 0; /* kill glowing border during editing */
}

.searchbar button {
  font-size: 1.2rem;
  background-color: purplegray-B62;
  border: none;
}

.magnifyingglass {
  font-size: 1.5em;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid dullwhite;
  position: relative;
  border-radius: 0.35em;
}

.magnifyingglass::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: dullwhite;
  width: 0.35em;
  height: 0.08em;
  transform: rotate(45deg);
}