@value dullwhite, black-10 from '../../_shared/colors.css';

.listings {
  min-height: 37.5rem;
  background-color: dullwhite;
}

.listings li {
  padding: 1em 2em;
  border-bottom: 2px solid black-10;
}