@value purplegray, dullwhite, black-10, black-50 from '../../_shared/colors.css';

.listings {
  min-height: 37.5rem;
  background-color: dullwhite;
}

.listings .program {
  margin: 1em 2em;
  display: flex;
  border-bottom: 2px solid black-10;
}

.program .image {
  width: 300px;
  height: 200px;
  background-color: lightgray;
}

.program .info {
  flex-direction: column;
}

.program .title {
  font-weight: bold;
  text-transform: uppercase;
  color: purplegray;
}

.program .desc {
  padding: .5em 0 1em 0;
  color: black-50;
}