@value dullwhite from '../../_shared/colors.css';

.listings {
  min-height: 37.5rem;
  background-color: dullwhite;
}

.listings .program {
  /*padding: 1em;*/
  margin: 1em 2em;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.program .title {
  font-weight: bold;
  text-transform: uppercase;
  color: indigo;
}

.program .desc {
  padding: 1em 0;
  color: rgba(0,0,0,0.5);
}