@value purplegray, black-50, white-75 from '../../_shared/colors.css';


.program {
  display: flex;
}

.imageFrame {
  width: 6.25rem;
  padding: .125em;
  background-color: black;
  border-radius: 2px;
}

.imageFrame img {
  height: 8.75rem;
  display: block;
}

.imageFrame .noImageFound {
  margin-top: 20%;
  text-transform: capitalize;
  color: white-75;
  text-align: center;
}

.info {
  flex: 1;
  height: 8.75rem;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info .row1,
.info .row3 {
  line-height: 2em;
}

.info .row2 {
  flex: 1;
  color: black-50;
  overflow: hidden;
}

.info .row3 {
  align-self: flex-end;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  color: purplegray;
}
